.profileScreen {
    color: white;
    height: 100vh;
}

.profileScreen__body {
   width: 50%;
   padding-left: 20px;
    padding-top: 5%; 
    max-width: 570px;
    margin-top: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    height: 100%;
}

.left {
    left: 0;
  }
  
.right {
right: 0;
}

.profileScreen__sep {
        border-left: 1px solid #282c2d;
        height: 100%;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        top: 0;
}
  
.profileScreen__info {
    display: flex;
}

.profileScreen__details {
    color: white;
    margin-left: 25px;
    flex: 1;
}

.profileScreen__body > h1 {
    font-size: 40px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profileScreen__heading1 {
    font-size: 40px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profileScreen__h4 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-top: 2px;
    padding-bottom: 15px;
    margin-right: 80px;
    height: 70%;
    margin-top: 10px;
    width: 300%;
}

.profileScreen__input 
{
    border: none;
    background-color: rgba(51,51,51,0.5);
    font-size: 15px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 15px;
    height: 70%;
    width: 300%;
    color: #fff;
}

.profileScreen__input:hover {
    color:#000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.profileScreen__inputavailabletokens 
{
    border: none;
    background-color: rgba(51,51,51,0.5);
    font-size: 15px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 12px;
    height: 70%;
    width: 300%;
    color: #fff;
}

.profileScreen__inputavailabletokens:hover {
    color:#000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.profileScreen__inputinitialtokens 
{
    border: none;
    background-color: rgba(51,51,51,0.5);
    font-size: 15px;
    padding-right: 5px;
    padding-top: 14px;
    padding-bottom: 15px;
    height: 70%;
    width: 160%;
    color: #fff;
}

.profileScreen__inputinitialtokens:hover {
    color:#000;
    background-color: #e6e6e6;
    transition: all 0.2s;
}

.profileScreen__label
{
    padding-top: 2px;
    font-size: 20px;
}

.profileScreen__labelright
{
    padding-top: 2px;
    font-size: 20px;
    white-space:nowrap;
}

.profileScreen__credrowright
{
    padding-top: 5px;
    padding-bottom: 10px;
    width: 120%;
}


.profileScreen__credrow
{
    padding-top: 5px;
    padding-bottom: 10px;
}

.profileScreen__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    width: 110%;
    color:#fff;
    margin-left: 107px;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.profileScreen__linkaccount {
    padding: 10px 20px;
    font-size: 1rem;
    width: 190%;
    color:#fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.profileScreen__startsale {
    padding: 5px 20px;
    font-size: 1rem;
    width: 146%;
    margin-left: 52px;
    margin-bottom: 15px;
    color:#fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.profileScreen__buytokensbtn {
    padding: 5px 20px;
    font-size: 1rem;
    width: 146%;
    margin-left: 65px;
    margin-bottom: 15px;
    color:#fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}


.profileScreen__endsale {
    padding: 5px 20px;
    font-size: 1rem;
    width: 140%;
    margin-bottom: 15px;
    margin-left: 90px;
    color:#fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.profileScreen__updatepwd {
    padding: 10px 20px;
    font-size: 1rem;
    width: 190%;
    color:#fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.profileScreen__tokens{
    margin-top: 20px;
}

.profileScreen__tokens > h3 {
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}
